body {
    background-color: #F7F8FC;
    font-family: Mulish;
}

.table-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    margin-left: 200px;
    /* Tambahkan margin kiri */
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    margin-left: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 0;
    padding: 8px;
    text-align: left;
}

td {
    border-top: 1px solid #eee;
}

.table-title {
    text-align: left;
    margin-bottom: 20px;
}

.table-content {
    font-size: 13px;
}

.table-head {
    color: #9FA2B4;
}

.customer-info {
    font-size: 12px;
    color: #666;
}

.date-info {
    font-size: 12px;
    color: #666;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 180px;
    background-color: #363740;
    padding-top: 20px;

}

.sidebar-brand {
    font-size: 14px;
    font-weight: 700;
    color: #A4A6B3;
    margin-left: 6px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.sidebar-brand-picture {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    align-items: center;
    margin-right: 7px;
}


.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    position: relative;
}

.sidebar-nav li a {
    font-size: 13px;
    display: block;
    color: #A4A6B3;
    text-decoration: none;
    text-indent: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sheet {
    background-color: rgb(156, 157, 164, .08);
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
}

.selected {
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #ffffff;
}

li:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #ffffff;
}

.sidebar-nav li a:hover {
    background-color: rgb(156, 157, 164, .08);
    color: #A4A6B3;
}

.table-container {
    margin-left: 350px;
    margin-right: 170px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-container {
    flex: 1;
    margin-left: 200px;
}

.left-container a {
    text-decoration: none;
    color: #363740;
}

.left-container {
    flex: 1;
    margin-left: 200px;
}

.flex-row-1 {
    align-items: flex-start;
    display: flex;
    height: 326px;
    margin-left: 14.5px;
    min-width: 616px;
}

.overlap-group1 {
    align-self: center;
    border-radius: 75.5px;
    height: 151px;
    margin-bottom: 74px;
    position: relative;
    width: 151px;
}

.profilepicture {
    height: 135px;
    left: 8px;
    position: absolute;
    top: 8px;
    width: 135px;
    border-radius: 75.5px;
    object-fit: cover;
}

.profile-circle {
    border: 1.5px solid;
    border-color: var(--snuff);
    border-radius: 75.5px;
    height: 151px;
    left: 0;
    position: absolute;
    top: 0;
    width: 151px;
}

.subtitle-1 {
    color: var(--steel-gray);
    font-weight: 700;
    line-height: normal;
    min-height: 30px;
    width: 89px;
}

.line-1 {
    filter: grayscale(100%) invert(100%) sepia(100%);
    height: 252px;
    margin-left: 64px;
    object-fit: cover;
    width: 1px;
}

.line-1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666;
    mix-blend-mode: multiply;
    opacity: 0.6;
}

.flex-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 89px;
    min-height: 326px;
    width: 311px;
}

.bold-text {
    font-weight: bold;
}

.length-pair {
    width: 1000px;
    padding: 5px;
    align-items: center;
    margin-bottom: 10px;
}

.title-5 {
    letter-spacing: 0.2px;
    line-height: normal;
    margin-top: 16px;
    min-height: 18px;
    white-space: nowrap;
}

.title-2 {
    letter-spacing: 0.2px;
    line-height: normal;
    margin-top: 16px;
    min-height: 28px;
    width: 311px;
}

.overlap-group-1:hover {
    background-color: #036AB5;
}

.overlap-group-1 {
    cursor: pointer;
    transform: translateX(+170px);
    align-items: center;
    background-color: #034c81;
    border-radius: 8px;
    display: flex;
    gap: 9px;
    height: 42px;
    justify-content: flex-end;
    margin-top: 36px;
    min-width: 168px;
    padding: 11px 13px;
}

.text-group {
    transform: translateY(+190px);
    text-align: center;
}

.label {
    align-self: flex-end;
    transform: translateY(-11px);
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 0;
    bottom: 10px;
    text-align: center;
    white-space: nowrap;
    width: 113px;
}

.form-control {
    width: 450px;
    height: 40px;
}

.vector-1 {
    height: 17px;
    margin-top: 1px;
    width: 17px;

}

.title-4 {
    color: chicago;
    font-size: smaller;
    font-weight: 400;
    margin-right: 10px;
    line-height: normal;
    min-height: 18px;
    white-space: nowrap;
}
