body {
    background-color: #F7F8FC;
    font-family: Mulish;
}

/* sidebar*/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    height: 100vh;
    width: 180px;
    background-color: #363740;
    padding-top: 20px;
}

.sidebar-brand {
    font-size: 14px;
    font-weight: 700;
    color: #A4A6B3;
    margin-left: 6px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.sidebar-brand-picture {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    align-items: center;
    margin-right: 7px;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    position: relative;
}

.sidebar-nav li a {
    font-size: 13px;
    display: block;
    color: #A4A6B3;
    text-decoration: none;
    text-indent: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
}

li:hover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: #ffffff;
}

.sidebar-nav li a:hover {
    background-color: rgb(156, 157, 164, .08);
    color: #A4A6B3;
}

/* konten halaman */
.col-lg-12 {
    padding-left: 210px;
    padding-right: 30px;
}

/* bagian header */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.left-container {
    flex: 1;
}

.profile-text {
    font-weight: bold;
    font-size: 18px;
}

.profile-picture {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    border: 2px solid #ccc;
    padding: 1px;
}

.admin-text {
    font-weight: 500;
    font-size: 13px;
    margin-right: 10px;
}

/* bagian konten utama */
/* kerangka tabel */
.table-container {
    background-color: #ffffff;
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 0;
    padding: 8px;
    text-align: left;
}

td {
    border-top: 1px solid #eee;
}

.table-title {
    text-align: left;
    margin-bottom: 20px;
    padding: 0px 20px 0px 20px;
}

.table-content {
    font-size: 13px;
}

.table-head {
    color: #9FA2B4;

}

.expandable-row.dark-mode {
    background-color: #F6F8FB;
}

.row-expand-1 {
    padding-left: 301px;
}

.row-expand-2 {
    padding-left: 371px;
}

.hidden-row {
    display: none;
}

.col-md-1 {
    margin: 0px 30px 0px 30px;
}

.row-tanggal {
    margin-bottom: 7px
}

.row-button {
    margin-bottom: 30px
}

/* isi tabel */
.customer-info {
    font-size: 12px;
    color: #666;
}

.date-info {
    font-size: 12px;
    color: #666;
}

.expand-image {
    width: 45px;
}

.vector {
    width: 40px;
    margin-bottom: 8px;
}

.iron {
    width: 60px;
    margin-bottom: 14px;
}

.button {
    background-color: #28C797;
    border-radius: 5px;
    border-style: solid;
    border-color: #28C797;
    font-size: 9px;
    color: white;
}

.button.clicked {
    background-color: #144896;
    border-radius: 5px;
    border-style: solid;
    border-color: #144896;
    font-size: 9px;
    color: white;
}

.received-button {
    background-color: #144896;
    border-radius: 5px;
    border-style: solid;
    border-color: #144896;
    font-size: 9px;
    color: white;
}

/* footer tabel */
.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.page-item {
    margin: 0 2px;
}

.page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    color: #9FA2B4;
    text-decoration: none;
    transition: background-color 0.3s;
}

.page-link:hover {
    background-color: #f5f5f5;
}

.page-item.disabled .page-link {
    opacity: 0.5;
    pointer-events: none;
}

.page-item.disabled .page-link:hover {
    background-color: transparent;
}

.pagination-info {
    margin-right: 17px;
    margin-top: 2px;
    font-size: 12px;
    color: #9FA2B4;
    align-items: center;
    display: flex;
}

.rowpage-text {
    margin-right: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-size: 10px;
}

.dropdown-menu {
    font-size: 12px;
    min-width: unset;
    text-align: center;
}

.dropdown-toggle::after {
    display: none;
}

.btn-sm {
    padding: 0.01rem 0.2rem;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0.2rem;
    background-color: transparent;
    border-color: transparent;
    color: #9FA2B4;
}

.btn-sm:hover {
    background-color: transparent;
    border-color: transparent;
    color: #000;
}

.dropdown-menu {
    min-width: 150px;
}

.dropdown-item {
    padding: 8px 16px;
}
